@page "/shoppingList"
@using Blazor_App.Data;
<PageTitle>@title</PageTitle>


<h3>ShoppingList</h3>
 <EditForm Model="@grocery" OnSubmit="AddGrocery">
 <DataAnnotationsValidator/>
 <ValidationSummary />
    <p>
        <label>
            Name: 
            <InputText @bind-Value="grocery.Name" />
        </label>
    </p>
    <p>
        <label>
            Price:
            <InputNumber @bind-Value="grocery.Price" />
        </label>
    </p>

    <button type="submit">Add Grocery</button>

</EditForm>
<table class="table table-sm">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
    </tr>
    @foreach (var grocery in groceries)
    {
        <Item GroceryItem = "@grocery" OnGroceryPriceIncreased="OnGroceryPriceIncreased"/>

    }
</table>
<h1>Total(@sum)</h1>


@code{
    private float sum=0;
    private string title = "our grocorie";
    private string groceryName = "" ;
    private float groceryPrice;

    private Grocery grocery=new();

     private    List<Grocery> groceries = new();
        private void AddGrocery(){
            groceries.Add(grocery);
            grocery = new();
            UpdateTotalAmount();
        }
        public void UpdateTotalAmount()
        {
            sum = groceries.Sum(x=> x.Price);
        }

        public void OnGroceryPriceIncreased()
            {
                UpdateTotalAmount();
            }
        
} 