@inherits LayoutComponentBase

<div class="Layout">
    <div class="header">
            <h1>Our List</h1>
    <div>
            <a>@today.ToString("ddd, dd MMMM yyyy")</a>
    </div>
    </div>
        <div class="sidebard">
            <NavMenu />
        </div>
    <div class="content">
            <p>@Body</p>   
    </div>
    <div class="footer">
        <footer>
            @footerMessage
        </footer>
    </div>
</div>




@code{
    public string footerMessage{get;set;} = "great shopping" ;
    DateTime today = DateTime.Today;


}